<h1>All Posts</h1>
<ul>
<% @posts.each do |post| %>
<li>
<% if post.user.profile %>
<% if post.user.profile.name %>
<%= link_to "#{post.title} made by #{post.user.profile.name}", post_path(post) %>
<% else %>
<%= link_to "#{post.title} made by #{post.user.email}", post_path(post) %>
<% end %>
<% else %>
<%= link_to "#{post.title} made by #{post.user.email}", post_path(post) %>
<% end %>
</li>
<% end %>
</ul>